---
# Only the main Sass file needs front matter (the dashes are enough)
---

/* colors*/
$link-color: #A3DEFE;
$masthead-link-color: White;
$body-color: #A3DEFE;

/* other */
$paragraph-indent: true;

/* Nord code */
$base00: #3b4252;
$base01: #bf616a;
$base02: #a3be8c;
$base03: #ebcb8b;
$base04: #81a1c1;
$base05: #b48ead;
$base06: #88c0d0;
$base07: #e5e9f0;
$base08: #5e81ac;
$base09: #94545d;
$base0a: #809575;
$base0b: #b29e75;
$base0c: #68809a;
$base0d: #8c738c;
$base0e: #6d96a5;
$base0f: #aeb3bb;

/* gist themeing */
/* https://codersblock.com/blog/customizing-github-gists/ */
body .gist .gist-file {
  margin-bottom: 0;
  border: 1px #A3DEFE;
  border-radius: 0;
}

body .gist .gist-data {
  border-bottom: none;
  border-radius: 0;
  background-color: #2e3440;
}

body .gist .blob-wrapper {
  border-radius: 0;
}

body .gist .highlight {
  background-color: transparent;
  font-family: 'Droid Sans Mono', monospace;
  font-size: 14px;
}

body .gist .highlight td {
  padding: 5px 15px !important;
  line-height: 1;
  font-family: inherit;
  font-size: inherit;
}

body .gist tr:first-child td {
  padding-top: 15px !important;
}

body .gist tr:last-child td {
  padding-bottom: 15px !important;
}

body .gist .blob-num {
  color: #ebcb8b;
  background-color: #3b4252;
  pointer-events: none;
}

body .gist .gist-meta {
  display: none;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  margin: 20px;
  font: 16px 'Open Sans', sans-serif;
}

/* minimal mistakes */

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
