---
# Only the main Sass file needs front matter (the dashes are enough)
---

/* colors*/
$link-color: #A3DEFE;
$masthead-link-color: White;
$body-color: #A3DEFE;

/* other */
$paragraph-indent: true;

/* Nord code */
$base00: #3b4252;
$base01: #bf616a;
$base02: #a3be8c;
$base03: #ebcb8b;
$base04: #81a1c1;
$base05: #b48ead;
$base06: #88c0d0;
$base07: #e5e9f0;
$base08: #5e81ac;
$base09: #94545d;
$base0a: #809575;
$base0b: #b29e75;
$base0c: #68809a;
$base0d: #8c738c;
$base0e: #6d96a5;
$base0f: #aeb3bb;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
