body {
    --font-ui-smaller: 10px;
    --font-ui-small: 10px;
    --font-ui-medium: 12px;
    --font-medium: 12px;
    --font-ui-large: 14px;
    --font-normal: 10px;
}

/* padding fixes for calendar */
.workspace-leaf-content .view-content {
    padding: var(--size-2-2);
}
.day.svelte-q3wqg9 {
    padding: 1px !important;
}

/* remove the left bar */
.workspace-ribbon.mod-left {
    display: none;
}

/* bullet fix */
.markdown-source-view.mod-cm6 .cm-formatting-list-ul, 
.markdown-source-view.mod-cm6 .cm-formatting-list-ol {
    padding-right: 5px;
}

/* this is --- lines */
hr {
    border-color: var(--color-base-50);
}

/* red pin icon */
.mod-root .mod-pinned {
    color: var(--color-red);
}

/* suggestion box */
.suggestion-item {
    font-size: var(--font-ui-small);
}

.theme-light,
.theme-dark {
    --color-red: #bf616a;
    --color-orange: #d08770;
    --color-yellow: #ebcb8b;
    --color-green: #a3be8c;
    --color-purple: #b48ead;
    --color-sea-green: #8fbcbb;
    --color-cyan: #88c0d0;
    --color-frost: #81a1c1;
    --color-blue: #5e81ac;

    --b0: #2E3440;
    --b1: #3B4252;
    --b2: #434C5E;
    --b3: #4C566A; 

    --w0: #D8DEE9;
    --w1: #E5E9F0;
    --w2: #ECEFF4;
    --w3: #f5f7f9;
}

.theme-light {
    --color-accent: var(--color-blue);
    --color-accent-1: var(--color-blue);
    --color-accent-2: var(--color-frost);

    /* the note background */
    --background-primary: var(--w3) ;
    /* used for code highlights */
    --background-primary-alt: var(--w0) ;
    /* outside ui background */
    /* background titlebar unfocused */
    --background-secondary: var(--w2);
    /* titlebar focused */
    --background-secondary-alt: var(--w2);
    /* lines between objects */
    --background-modifier-border: var(--w3);

    --color-base-100: var(--b0);
    --color-base-70: var(--b0);
    --color-base-60: var(--b0);
    /* bullets */
    --color-base-50: var(--b1);
    /* window outline (like settings) */
    --color-base-40: var(--w2);
    /* toggle background */
    /* small line in tabs */
    --color-base-35: var(--w0);
    /* the lines in the ui */
    --color-base-30: var(--w0);
    --color-base-25: var(--b3);
    --color-base-20: var(--w0);
    --color-base-10: var(--w1);
    --color-base-05: var(--w2);
    --color-base-00: var(--w2);
}

.theme-dark {
    --color-accent: var(--color-frost);
    --color-accent-1: var(--color-frost);
    --color-accent-2: var(--color-blue);

    --background-primary: var(--b1) ;
    --background-primary-alt: var(--b0) ;
    --background-secondary: var(--b0);
    --background-secondary-alt: var(--b0);
    --background-modifier-border: var(--b1);

    --color-base-00: var(--b0);
    --color-base-10: var(--b0);
    --color-base-20: var(--b0);
    --color-base-25: var(--b0);
    /* lines in the ui */
    --color-base-30: var(--b1);
    /* toggle backgroundse */
    /* small line in tabs */
    --color-base-35: var(--b3);
    /* window outlines */
    --color-base-40: var(--b0);
    /* bullets */
    --color-base-50: var(--w3);
    --color-base-60: var(--w0);
    --color-base-70: var(--w1);
    /* main font */
    --color-base-100: var(--w0);
}
